<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/books">Book Inventory</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li *ngIf="!authService.isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="!authService.isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li *ngIf="authService.isLoggedIn()" class="nav-item">
          <a class="nav-link" (click)="authService.logout()" style="cursor: pointer;">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
